name: Docs
on:
  push:
    branches: [ main ]
jobs:
  deploy:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.3'
    - name: Install Ruby dependencies
      run: bundler install
      working-directory: docs
    - name: Build site
      run: jekyll build
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./_site